@model IEnumerable<VirtualProject.Models.Hr.ShowHrVM>
@{
    ViewBag.Title = "ShowHrs";
}

<h1>ShowHrs</h1>

<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
    href="https://datatables.net">official DataTables documentation</a>.
</p>


<a asp-action="AddUser" class="btn btn-primary">Add User</a>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Remove Hr</th>
                        <th>Add Tasks</th>
                    </tr>

                </thead>
                <tfoot>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Remove Hr</th>
                        <th>Add Tasks</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FirstName </td>
                            <td>@item.LastName </td>
                            <td>@item.Email </td>
                            <td>@item.RoleName</td>
                            <td><a asp-action="RemoveHr" asp-route-Email="@item.Email" class="btn btn-primary">Delete Hr</a></td>
                            <td><a asp-action="AddTasks" asp-route-Email="@item.Email" class="btn btn-primary">Add Tasks</a></td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>     